# ----------------------------------------
# Archivos y carpetas del sistema
# ----------------------------------------
.DS_Store
Thumbs.db
*.log
*.swp
*.tmp

# ----------------------------------------
# Archivos de entorno y dependencias
# ----------------------------------------
.env
*.lock
.pub-cache/
.pub/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# ----------------------------------------
# Flutter / Dart
# ----------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.melos_tool/
build/
coverage/
doc/api/

# ----------------------------------------
# Android
# ----------------------------------------
android/.gradle/
android/local.properties
android/.idea/
android/.cxx/
android/app/release/
android/app/debug/
android/app/profile/
android/build/

# ----------------------------------------
# iOS / macOS
# ----------------------------------------
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/.last_build_id
macos/Flutter/ephemeral/
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig

# ----------------------------------------
# IDEs (VSCode, IntelliJ, Android Studio)
# ----------------------------------------
.idea/
*.iml
*.ipr
*.iws
.vscode/

# ----------------------------------------
# Archivos generados automáticamente
# ----------------------------------------
build/
.migrate_working_dir/
.history/
.swiftpm/
